[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
docker-compose = "*"

[packages]

[requires]
python_version = "2.7"

[scripts]
dc = "docker-compose"
serve = "docker-compose run --no-deps --rm -p 4200:4200 front"
api = "docker-compose run --rm -p 5000:5000 api"
