[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "~=2.1.1"
djangorestframework = "*"
djangorestframework-jsonapi = "~=2.5.0"
djangorestframework-yaml = "*"
drf-nested-routers = "*"
gunicorn = "*"
"psycopg2" = "*"
voluptuous = "*"

[requires]
python_version = "3.6"
