<div class="menu-bar">

    <mat-toolbar class="menu-toolbar"  [ngSwitch]="workspace">
        <mat-toolbar-row class="menu-toolbar-row">
            <div class="menus">

                <button mat-button id="menu_bar_hot_keys" (click)="pressedSideBar()"><mat-icon>menu</mat-icon></button>
                <button mat-button [matMenuTriggerFor]="fileMenu">File</button>
                <mat-menu [overlapTrigger]="false" #fileMenu="matMenu">
                  <button mat-menu-item (click)="selectedNew()">New<span class="hotkey">{{hotKeyModifier}} N</span></button>
                  <button mat-menu-item (click)="selectedOpenWelcome()">Open<span class="hotkey">{{hotKeyModifier}} O</span></button>
                  <button mat-menu-item id="SAVE" (click)="pressedSave()">Save<span class="hotkey">{{hotKeyModifier}} S</span></button>
                </mat-menu>

                <button mat-button [matMenuTriggerFor]="editMenu">Edit</button>
                <mat-menu [overlapTrigger]="false" #editMenu="matMenu">
                    <button mat-menu-item (click)="pressedUndo()">Undo<span class="hotkey">{{hotKeyModifier}} Z</span></button>
                    <button mat-menu-item (click)="pressedRedo()">Redo<span class="hotkey">{{hotKeyModifier}} Y</span></button>
                    <button mat-menu-item (click)="pressedCut()">Cut<span class="hotkey">{{hotKeyModifier}} X</span></button>
                    <button mat-menu-item (click)="pressedCopy()">Copy<span class="hotkey">{{hotKeyModifier}} C</span></button>
                    <button mat-menu-item (click)="pressedPaste()">Paste<span class="hotkey">{{hotKeyModifier}} V</span></button>
                </mat-menu>

                <!-- Different menu items can appear based on the current workspace -->

                <!-- Case 0: Entity Menus -->
                <button *ngSwitchCase="0" mat-button [matMenuTriggerFor]="entityMenu">Entity</button>
                <mat-menu [overlapTrigger]="false" #entityMenu="matMenu">
                    <button mat-menu-item (click)="pressedNewEntity()">New Entity<span class="hotkey">{{hotKeyModifier}} E</span></button>
                </mat-menu>

                <!-- Case 1: Component Menus -->
                <button *ngSwitchCase="1" mat-button [matMenuTriggerFor]="componentMenu">Component</button>
                <mat-menu [overlapTrigger]="false" #componentMenu="matMenu">
                    <button mat-menu-item (click)="pressedNewComponent()">New Component<span class="hotkey">{{hotKeyModifier}} P</span></button>
                </mat-menu>

                <!-- Case 2: Flow Menus -->
                <button *ngSwitchCase="2" mat-button [matMenuTriggerFor]="viewMenu">View</button>
                <mat-menu [overlapTrigger]="false" #viewMenu="matMenu">
                    <button mat-menu-item (click)="pressedActualSize()">Actual Size<span class="hotkey">{{hotKeyModifier}} 0</span></button>
                    <button mat-menu-item (click)="pressedZoomIn()">Zoom In<span class="hotkey">{{hotKeyModifier}} +</span></button>
                    <button mat-menu-item (click)="pressedZoomOut()">Zoom Out<span class="hotkey">{{hotKeyModifier}} -</span></button>
                </mat-menu>

                <button *ngSwitchCase="2" mat-button [matMenuTriggerFor]="flowMenu">Flow</button>
                <mat-menu [overlapTrigger]="false" #flowMenu="matMenu">
                    <button mat-menu-item (click)="pressedAddEntity()">Add Entity</button>
                    <button mat-menu-item (click)="pressedAddAction()">Add Action</button>
                    <button mat-menu-item (click)="pressedAddTrigger()">Add Trigger</button>
                    <button mat-menu-item (click)="pressedAddCondition()">Add Condition</button>
                    <button mat-menu-item (click)="pressedAddOperation()">Add Operation</button>
                </mat-menu>

                <!-- Case 3: Assets Menus -->
                <button *ngSwitchCase="3" mat-button [matMenuTriggerFor]="assetsMenu">Assets</button>
                <mat-menu [overlapTrigger]="false" #assetsMenu="matMenu">
                    <button mat-menu-item (click)="pressedUploadFiles()">Upload Files</button>
                    <button mat-menu-item (click)="pressedSearchByType()">Search By Type</button>
                </mat-menu>

                <button mat-button [matMenuTriggerFor]="helpMenu">Help</button>
                <mat-menu [overlapTrigger]="false" #helpMenu="matMenu">
                    <button mat-menu-item (click)="pressedFollyDesignerHelp()">Folly Designer Help</button>
                </mat-menu>
            </div>

            <div class="project-name">
                <span>{{ projectName }}</span>
            </div>

            <div class="profile">
                <button mat-button [matMenuTriggerFor]="userMenu">{{ username }}</button>
                <mat-menu [overlapTrigger]="false" #userMenu="matMenu">
                  <button mat-menu-item (click)="selectedOpenSettings()">Settings</button>
                  <button mat-menu-item (click)="selectedLogout()">Logout</button>
                </mat-menu>
            </div>

        </mat-toolbar-row>

    </mat-toolbar>
</div>
