<div id="login-view">
  <div id="loading" class="middle" style="display: none;">
    <mat-spinner></mat-spinner>
    <span>Welcome {{ welcomeName }}</span>
  </div>

  <div id="content" class="middle">

    <h1>Folly Designer</h1>
    <h2>Log In</h2>

    <!-- Log In -->
    <mat-card class="login-card">
      <form (ngSubmit)="signIn()" [formGroup]="loginForm">
        <mat-form-field>
          <input matInput required placeholder="Username" formControlName="username">
          <mat-error *ngIf="username.errors?.required">
            Username cannot be empty.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput required type="password" placeholder="Password" formControlName="password">
          <mat-error *ngIf="password.errors?.required">
            Password cannot be empty.
          </mat-error>
        </mat-form-field>

        <button id="signin-button" mat-raised-button color="primary" type="submit">
          Sign In
        </button>
      </form>
    </mat-card>

  </div>
</div>
