.component-name {
	font-size: 1.3em;
}

.component-description {
	display: inline;
	float: left;
}

.component-type {
	display: inline;
	float: right;
}

.mat-expansion-panel-header-title, 
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}