.search .input-field {
	margin: 10px;
	width: calc(100% - 80px);
}

.add-button {
	display: block;
	float: right;
	margin: 10px;
	margin-top: 20px;
}

.element {
	display: block;
	border: 1px solid #000000;
	border-left: none;
	border-right: none;
	border-top: none;
	text-decoration: none;
}

.element:active {
	background: blue;
}
