.editor2 {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 320px;
	height: 320px;
	border: none;
	font: normal 100%/normal Arial, Helvetica, sans-serif;
	color: rgba(255,255,255,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: -webkit-linear-gradient(90deg, #0E0E0E, #FFFFFF 2px, rgba(0,0,0,0) 2px, rgba(0,0,0,0) 100%), -webkit-linear-gradient(0deg, #302a2a 0, #FFFFFF 2px, rgba(0,0,0,0) 2px, rgba(0,0,0,0) 100%), -webkit-linear-gradient(90deg, rgba(255,255,255,1) 1px, rgba(0,0,0,0) 1px), -webkit-linear-gradient(0deg, rgba(255,255,255,1) 1px, rgba(0,0,0,0) 1px), rgba(0, 0, 0, 0);
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: 100px 100px, 100px 100px, 20px 20px, 20px 19px;
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 19px;
	overflow: hidden;
}

#editor-container {
	border: 2px solid black;
	overflow: hidden;
	margin: 10px;
	position: absolute;
	top: 0;
    left: 0;
    width: calc(100% - 22px);
    height: calc(100% - 22px);
}

.context-menu {
	position: fixed;
	z-index: 10;
	display: none;
}

.context-menu ul {
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
	box-shadow: 0px 0px 5px black;
}

.context-menu li {
	display: block;
	background: white;
	border: 1px solid black;
	padding: 10px;
	text-decoration: none;
	color: black;
}

.context-menu li:hover {
	background: yellow;
	cursor: pointer;
}

.context-menu ul .warn-context-button {
	background: red;
}

.context-menu ul .warn-context-button:hover {
	background: yellow;
}
