.page-container {
	display: flex;
	position: absolute;
	top: 40px;
    left: 0%;
    width: 100%;
    height: calc(100% - 40px);
}

.component-search-list {
	flex-grow: 3;
	border: 2px solid ##3F3F3F;
	box-shadow: 0px 0px 4px #343434;
    overflow-x: hidden;
    margin: 20px;
    margin-right: 10px;
}

.component-editor {
	flex-grow: 7;
	border: 2px solid ##3F3F3F;
	box-shadow: 0px 0px 4px #343434;
    overflow-x: hidden;
    margin: 20px;
    margin-left: 10px;
}

.new-component-btn {
	width: 100%;
}
