<div *ngIf="component">
  <div class="component-name">
    <input type="text" class="name-change" value={{component.name}} (keyup)="onNameChange.emit($event.target.value)
		">
    <button mat-button class="attribute-new" color="primary" (click)="onNewAttribute.emit()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-button class="destroy-component" color="warn" (click)="onDestroyComponent.emit()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="component-attributes">
    <attribute-display [attributes]="component.attributes" (onDestroyAttribute)="onDestroyAttribute.emit($event)"
      (onNameChangeAttribute)="onNameChangeAttribute.emit($event)"
      (onDescriptionChangeAttribute)="onDescriptionChangeAttribute.emit($event)">
    </attribute-display>
  </div>
</div>
