<div class="content" [ngSwitch]="login">

  <div class="login" *ngSwitchCase="0">
      <login-screen (login)="setLogin(2)"></login-screen>
  </div>

  <div class="menu" *ngIf="menu">
    <project-management [workspace]="view" [username]="username" [projectName]="projectName"
    (onToggleSideBar)="toggleSideBar()"
    (onSave)="save()"
    (onMakeNewEntity)="makeNewEntity()"
    (onMakeNewComponent)="makeNewComponent()"
    (onAddNewAction)="addNewAction()"
    (onAddNewTrigger)="addNewTrigger()"
    (onAddNewCondition)="addNewCondition()"
    (onAddNewOperation)="addNewOperation()"
    (onAddNewNestedFlow)="addNewNestedFlow()"
    ></project-management>
  </div>

  <div class="main" *ngSwitchCase="1">
      <mat-drawer-container class="container" autosize>
          <mat-drawer opened="{{ sidebarExpanded }}" mode="side" class="sideNav">
              <mat-button-toggle-group #group="matButtonToggleGroup" vertical="true" class="sidenav-buttons-group" (change)="setView(group.value)">
                  <mat-button-toggle value="0" [ngClass]="{'selected':view==0}">Entities</mat-button-toggle>
                  <mat-button-toggle value="1" [ngClass]="{'selected':view==1}">Components</mat-button-toggle>
                  <mat-button-toggle value="2" [ngClass]="{'selected':view==2}">Flow</mat-button-toggle>
                  <mat-button-toggle value="3" [ngClass]="{'selected':view==3}">Assets</mat-button-toggle>
              </mat-button-toggle-group>
          </mat-drawer>

          <div [ngSwitch]="view">
              <div *ngSwitchCase="0">
                  <entity-management [@fadeInAnimation]="bindingVar"></entity-management>
              </div>
              <div *ngSwitchCase="1">
                  <component-management [@fadeInAnimation]="bindingVar"></component-management>
              </div>
              <div *ngSwitchCase="2">
                  <flow-management [@fadeInAnimation]="bindingVar"></flow-management>
              </div>
              <div *ngSwitchCase="3">
                <asset-management [@fadeInAnimation]="bindingVar"></asset-management>
              </div>
          </div>
      </mat-drawer-container>
  </div>

</div>
