.page-container {
	display: flex;
	position: absolute;
	top: 40px;
    left: 0%;
    width: 100%;
    height: calc(100% - 40px);
	overflow: hidden;
}

.flow-search-list {
	flex: 1;
	max-width: 25%;
	box-shadow: 0px 0px 4px #343434;
    overflow-x: hidden;
    margin: 20px;
    margin-right: 10px;
}

.flow-editor {
	flex: 1;
	max-width: 75%;
	box-shadow: 0px 0px 4px #343434;
    overflow-x: hidden;
    margin: 20px;
    margin-left: 10px;
}

.new-flow-btn {
    width: 100%;
}
