<mat-toolbar class="menu-bar">
  <mat-toolbar-row class="menu-toolbar-row">
    <div class="menus">

      <button mat-button id="menu_bar_hot_keys" (click)="pressSideBar.emit();">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-button [matMenuTriggerFor]="fileMenu">File</button>
      <mat-menu [overlapTrigger]="false" #fileMenu="matMenu">
        <button mat-menu-item (click)="new.emit();">New<span class="hotkey">{{hotKeyModifier}}
          N</span></button>
        <button mat-menu-item (click)="openWelcome.emit();">Open<span class="hotkey">{{hotKeyModifier}}
          O</span></button>
        <button mat-menu-item id="SAVE" (click)="pressSave.emit();">Save<span
          class="hotkey">{{hotKeyModifier}} S</span></button>
        <button mat-menu-item>Export</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="editMenu">Edit</button>
      <mat-menu [overlapTrigger]="false" #editMenu="matMenu">
        <button mat-menu-item (click)="pressedUndo()">Undo<span class="hotkey">{{hotKeyModifier}}
          Z</span></button>
        <button mat-menu-item (click)="pressedRedo()">Redo<span class="hotkey">{{hotKeyModifier}}
          Y</span></button>
        <button mat-menu-item (click)="pressedCut()">Cut<span class="hotkey">{{hotKeyModifier}}
          X</span></button>
        <button mat-menu-item (click)="pressedCopy()">Copy<span class="hotkey">{{hotKeyModifier}}
          C</span></button>
        <button mat-menu-item (click)="pressedPaste()">Paste<span class="hotkey">{{hotKeyModifier}}
          V</span></button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="helpMenu">Help</button>
      <mat-menu [overlapTrigger]="false" #helpMenu="matMenu">
        <button mat-menu-item (click)="pressedFollyDesignerHelp()">Folly
          Designer Help
        </button>
      </mat-menu>
    </div>

    <div class="project-name">
      <span>{{ projectName }}</span>
    </div>

    <div class="profile">
      <button mat-button [matMenuTriggerFor]="userMenu">{{ username }}</button>
      <mat-menu [overlapTrigger]="false" #userMenu="matMenu">
        <button mat-menu-item (click)="selectedOpenSettings()">Settings</button>
        <button mat-menu-item (click)="selectedLogout()">Logout</button>
      </mat-menu>
    </div>

  </mat-toolbar-row>

</mat-toolbar>
