<div class="menu">
  <menubar [projectName]="projectsQuery.getActive().title"
           [username]="username"
           (pressSideBar)="toggleSideBar()"
           (openSettings)="displaySettingsDialog()"
  ></menubar>
</div>

<div class="main">
  <mat-drawer-container class="container" autosize>
    <mat-drawer [opened]="sidebarExpanded" mode="side" class="sideNav">
      <mat-button-toggle-group #group="matButtonToggleGroup" vertical="true"
        class="sidenav-buttons-group" (change)="setResourceView(group.value)">
        <mat-button-toggle *ngFor="let view of resourceViews; let i=index" [value]="i" [ngClass]="{'selected':view.active}">{{view.name}}</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-drawer>

    <mat-drawer-content class="resource-view">
      <search-list [data]="currentResourceView.query"
                   (openResource)="openResource($event)"
                   (newResource)="currentResourceView.createResource()" class="search-list">
      </search-list>
      <div class="editor">
        <ng-template app-editor-host></ng-template>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
