<menubar [workspace]="workspace" [projectName]="_projectName" [username]="_username"
  (onOpenWelcome)="displayWelcomeDialog()" (onPressSideBar)="toggleSideBar()"
  (onPressSave)="save()" (onOpenSettings)="displaySettingsDialog()" (onNew)="makeNewProject()"
  (onPressNewEntity)="makeNewEntity()" (onPressNewComponent)="makeNewComponent()"
  (onPressAddAction)="addNewAction()" (onPressAddTrigger)="addNewTrigger()"
  (onPressAddCondition)="addNewCondition()" (onPressAddOperation)="addNewOperation()"
  (onPressAddNestedFlow)="addNewNestedFlow()"></menubar>
