<div id="login-view">
    <div id="loading" class="middle" style="display: none;">
        <mat-spinner></mat-spinner>
        <span>Welcome {{ welcomeName }}</span>
    </div>

    <div id="content" class="middle">

        <h1>Folly Designer</h1>
        <h2 *ngIf="state">Log In</h2>
        <h2 *ngIf="!state">Sign Up</h2>

        <!-- Log In -->
        <mat-card *ngIf="state" class="login-card">
            <form (submit)="signIn()">
                <div>
                    <mat-icon>mail</mat-icon>
                    <mat-form-field>
                        <input required matInput placeholder="Email" [formControl]="email">
                        <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
                    </mat-form-field>
                </div>

                <div>
                    <mat-icon>lock</mat-icon>
                    <mat-form-field>
                        <input required matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [formControl]="password">
                        <mat-icon class="eyeIcon" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error *ngIf="password.invalid">{{ getPasswordErrorMessage() }}</mat-error>
                    </mat-form-field>
                </div>

                <button id="signin-button" mat-raised-button color="primary" type="submit">Sign In</button>

                <a href="#" (click)="guestLogin()">Forgot your password?</a>
            </form>
        </mat-card>

        <!-- Sign Up -->

        <mat-card *ngIf="!state" class="login-card">
            <form (submit)="createAccount()">
                <div>
                    <mat-icon>person</mat-icon>
                    <mat-form-field>
                        <input required matInput placeholder="Username" [formControl]="makeUsername">
                        <mat-error *ngIf="makeUsername.invalid">{{ getMakeUsernameErrorMessage() }}</mat-error>
                    </mat-form-field>
                </div>

                <div>
                    <mat-icon>mail</mat-icon>
                    <mat-form-field>
                        <input required matInput placeholder="Email" [formControl]="makeEmail">
                        <mat-error *ngIf="makeEmail.invalid">{{ getMakeEmailErrorMessage() }}</mat-error>
                    </mat-form-field>
                </div>

                <div>
                    <mat-icon>lock</mat-icon>
                    <mat-form-field>
                        <input required matInput placeholder="Password" [type]="makeHide ? 'password' : 'text'" [formControl]="makePassword">
                        <mat-icon class="eyeIcon" matSuffix (click)="makeHide = !makeHide">{{makeHide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error *ngIf="makePassword.invalid">{{ getMakePasswordErrorMessage() }}</mat-error>
                    </mat-form-field>
                </div>

                <button id="creatAccount-button" mat-raised-button color="primary" type="submit">Create Account</button>
            </form>
        </mat-card>

        <!-- Social Media -->
        <div id="services">
            <button mat-raised-button style="background-color: #3B5998; color: white;"> <mat-icon svgIcon="facebook"></mat-icon> </button>
            <button mat-raised-button style="background-color: #DD4B39; color: white;"> <mat-icon svgIcon="googleplus"></mat-icon> </button>
            <button mat-raised-button style="background-color: #F2F2F2; color: darkgray;"> <mat-icon svgIcon="microsoft"></mat-icon> </button>
        </div>

        <!-- Make an Account -->
        <div *ngIf="state">
            <span id="assistMessage">Don't have an account?</span>
            <a id="assistAction" href="#" (click)="toggleState()">Create an account</a>
        </div>

        <div *ngIf="!state">
            <span id="assistMessage">Already have an account?</span>
            <a id="assistAction" href="#" (click)="toggleState()">Log In</a>
        </div>

    </div>
</div>
